[submodule "Git_IDEA_CALO_FIBER"]
	path = Git_IDEA_CALO_FIBER
	url = git@github.com:ivivarel/Git_IDEA_CALO_FIBER.git
[submodule "SimSiPM"] 
	path = Digitization/SimSiPM
	url = git@github.com:EdoPro98/SimSiPM.git